<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <add name="dbtest.Properties.Settings.IDW3ConnectionString" connectionString="Data Source=CMGIDWDevDb;Initial Catalog=IDW3;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <add name="DB" connectionString="Data Source=CMGIDWDevDb;Initial Catalog=IDW3;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="IDW3Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CMGIDWDevDb;initial catalog=IDW3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="IDW3Entities1" connectionString="metadata=res://*/IDW3.csdl|res://*/IDW3.ssdl|res://*/IDW3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CMGIDWDevDb;initial catalog=IDW3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>